<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="andy.dao.DeviceWatcherMapper">
  <resultMap id="BaseResultMap" type="andy.model.DeviceWatcher">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="gps_lng" jdbcType="VARCHAR" property="gpsLng" />
    <result column="gps_lat" jdbcType="VARCHAR" property="gpsLat" />
    <result column="signal_intensit" jdbcType="INTEGER" property="signalIntensit" />
    <result column="firmware_version" jdbcType="INTEGER" property="firmwareVersion" />
    <result column="charing_voltage" jdbcType="INTEGER" property="charingVoltage" />
    <result column="charing_current" jdbcType="INTEGER" property="charingCurrent" />
    <result column="daily_charge" jdbcType="INTEGER" property="dailyCharge" />
    <result column="daily_electricity" jdbcType="INTEGER" property="dailyElectricity" />
    <result column="mainboard_temperature" jdbcType="INTEGER" property="mainboardTemperature" />
    <result column="battery_temperature" jdbcType="INTEGER" property="batteryTemperature" />
    <result column="battery_voltage" jdbcType="INTEGER" property="batteryVoltage" />
    <result column="sort_sum" jdbcType="INTEGER" property="sortSum" />
    <result column="mainboard_id" jdbcType="VARCHAR" property="mainboardId" />
    <result column="ws_time" jdbcType="VARCHAR" property="wsTime" />
    <result column="capacity" jdbcType="INTEGER" property="capacity" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="temperatur" jdbcType="INTEGER" property="temperatur" />
    <result column="water_line" jdbcType="INTEGER" property="waterLine" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, device_id, gps_lng, gps_lat, signal_intensit, firmware_version, charing_voltage, 
    charing_current, daily_charge, daily_electricity, mainboard_temperature, battery_temperature, 
    battery_voltage, sort_sum, mainboard_id, ws_time, capacity, weight, temperatur, water_line, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_device_watcher
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_device_watcher
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="andy.model.DeviceWatcher">
    insert into tbl_device_watcher (id, device_id, gps_lng, 
      gps_lat, signal_intensit, firmware_version, 
      charing_voltage, charing_current, daily_charge, 
      daily_electricity, mainboard_temperature, 
      battery_temperature, battery_voltage, sort_sum, 
      mainboard_id, ws_time, capacity, 
      weight, temperatur, water_line, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{deviceId,jdbcType=VARCHAR}, #{gpsLng,jdbcType=VARCHAR}, 
      #{gpsLat,jdbcType=VARCHAR}, #{signalIntensit,jdbcType=INTEGER}, #{firmwareVersion,jdbcType=INTEGER}, 
      #{charingVoltage,jdbcType=INTEGER}, #{charingCurrent,jdbcType=INTEGER}, #{dailyCharge,jdbcType=INTEGER}, 
      #{dailyElectricity,jdbcType=INTEGER}, #{mainboardTemperature,jdbcType=INTEGER}, 
      #{batteryTemperature,jdbcType=INTEGER}, #{batteryVoltage,jdbcType=INTEGER}, #{sortSum,jdbcType=INTEGER}, 
      #{mainboardId,jdbcType=VARCHAR}, #{wsTime,jdbcType=VARCHAR}, #{capacity,jdbcType=INTEGER}, 
      #{weight,jdbcType=INTEGER}, #{temperatur,jdbcType=INTEGER}, #{waterLine,jdbcType=INTEGER}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="andy.model.DeviceWatcher">
    insert into tbl_device_watcher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="gpsLng != null">
        gps_lng,
      </if>
      <if test="gpsLat != null">
        gps_lat,
      </if>
      <if test="signalIntensit != null">
        signal_intensit,
      </if>
      <if test="firmwareVersion != null">
        firmware_version,
      </if>
      <if test="charingVoltage != null">
        charing_voltage,
      </if>
      <if test="charingCurrent != null">
        charing_current,
      </if>
      <if test="dailyCharge != null">
        daily_charge,
      </if>
      <if test="dailyElectricity != null">
        daily_electricity,
      </if>
      <if test="mainboardTemperature != null">
        mainboard_temperature,
      </if>
      <if test="batteryTemperature != null">
        battery_temperature,
      </if>
      <if test="batteryVoltage != null">
        battery_voltage,
      </if>
      <if test="sortSum != null">
        sort_sum,
      </if>
      <if test="mainboardId != null">
        mainboard_id,
      </if>
      <if test="wsTime != null">
        ws_time,
      </if>
      <if test="capacity != null">
        capacity,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="temperatur != null">
        temperatur,
      </if>
      <if test="waterLine != null">
        water_line,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="gpsLng != null">
        #{gpsLng,jdbcType=VARCHAR},
      </if>
      <if test="gpsLat != null">
        #{gpsLat,jdbcType=VARCHAR},
      </if>
      <if test="signalIntensit != null">
        #{signalIntensit,jdbcType=INTEGER},
      </if>
      <if test="firmwareVersion != null">
        #{firmwareVersion,jdbcType=INTEGER},
      </if>
      <if test="charingVoltage != null">
        #{charingVoltage,jdbcType=INTEGER},
      </if>
      <if test="charingCurrent != null">
        #{charingCurrent,jdbcType=INTEGER},
      </if>
      <if test="dailyCharge != null">
        #{dailyCharge,jdbcType=INTEGER},
      </if>
      <if test="dailyElectricity != null">
        #{dailyElectricity,jdbcType=INTEGER},
      </if>
      <if test="mainboardTemperature != null">
        #{mainboardTemperature,jdbcType=INTEGER},
      </if>
      <if test="batteryTemperature != null">
        #{batteryTemperature,jdbcType=INTEGER},
      </if>
      <if test="batteryVoltage != null">
        #{batteryVoltage,jdbcType=INTEGER},
      </if>
      <if test="sortSum != null">
        #{sortSum,jdbcType=INTEGER},
      </if>
      <if test="mainboardId != null">
        #{mainboardId,jdbcType=VARCHAR},
      </if>
      <if test="wsTime != null">
        #{wsTime,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null">
        #{capacity,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="temperatur != null">
        #{temperatur,jdbcType=INTEGER},
      </if>
      <if test="waterLine != null">
        #{waterLine,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="andy.model.DeviceWatcher">
    update tbl_device_watcher
    <set>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="gpsLng != null">
        gps_lng = #{gpsLng,jdbcType=VARCHAR},
      </if>
      <if test="gpsLat != null">
        gps_lat = #{gpsLat,jdbcType=VARCHAR},
      </if>
      <if test="signalIntensit != null">
        signal_intensit = #{signalIntensit,jdbcType=INTEGER},
      </if>
      <if test="firmwareVersion != null">
        firmware_version = #{firmwareVersion,jdbcType=INTEGER},
      </if>
      <if test="charingVoltage != null">
        charing_voltage = #{charingVoltage,jdbcType=INTEGER},
      </if>
      <if test="charingCurrent != null">
        charing_current = #{charingCurrent,jdbcType=INTEGER},
      </if>
      <if test="dailyCharge != null">
        daily_charge = #{dailyCharge,jdbcType=INTEGER},
      </if>
      <if test="dailyElectricity != null">
        daily_electricity = #{dailyElectricity,jdbcType=INTEGER},
      </if>
      <if test="mainboardTemperature != null">
        mainboard_temperature = #{mainboardTemperature,jdbcType=INTEGER},
      </if>
      <if test="batteryTemperature != null">
        battery_temperature = #{batteryTemperature,jdbcType=INTEGER},
      </if>
      <if test="batteryVoltage != null">
        battery_voltage = #{batteryVoltage,jdbcType=INTEGER},
      </if>
      <if test="sortSum != null">
        sort_sum = #{sortSum,jdbcType=INTEGER},
      </if>
      <if test="mainboardId != null">
        mainboard_id = #{mainboardId,jdbcType=VARCHAR},
      </if>
      <if test="wsTime != null">
        ws_time = #{wsTime,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null">
        capacity = #{capacity,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="temperatur != null">
        temperatur = #{temperatur,jdbcType=INTEGER},
      </if>
      <if test="waterLine != null">
        water_line = #{waterLine,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="andy.model.DeviceWatcher">
    update tbl_device_watcher
    set device_id = #{deviceId,jdbcType=VARCHAR},
      gps_lng = #{gpsLng,jdbcType=VARCHAR},
      gps_lat = #{gpsLat,jdbcType=VARCHAR},
      signal_intensit = #{signalIntensit,jdbcType=INTEGER},
      firmware_version = #{firmwareVersion,jdbcType=INTEGER},
      charing_voltage = #{charingVoltage,jdbcType=INTEGER},
      charing_current = #{charingCurrent,jdbcType=INTEGER},
      daily_charge = #{dailyCharge,jdbcType=INTEGER},
      daily_electricity = #{dailyElectricity,jdbcType=INTEGER},
      mainboard_temperature = #{mainboardTemperature,jdbcType=INTEGER},
      battery_temperature = #{batteryTemperature,jdbcType=INTEGER},
      battery_voltage = #{batteryVoltage,jdbcType=INTEGER},
      sort_sum = #{sortSum,jdbcType=INTEGER},
      mainboard_id = #{mainboardId,jdbcType=VARCHAR},
      ws_time = #{wsTime,jdbcType=VARCHAR},
      capacity = #{capacity,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      temperatur = #{temperatur,jdbcType=INTEGER},
      water_line = #{waterLine,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="andy.model.DeviceWatcher">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="gps_lng" jdbcType="VARCHAR" property="gpsLng" />
    <result column="gps_lat" jdbcType="VARCHAR" property="gpsLat" />
    <result column="signal_intensit" jdbcType="BIGINT" property="signalIntensit" />
    <result column="firmware_version" jdbcType="BIGINT" property="firmwareVersion" />
    <result column="charing_voltage" jdbcType="BIGINT" property="charingVoltage" />
    <result column="charing_current" jdbcType="BIGINT" property="charingCurrent" />
    <result column="daily_charge" jdbcType="BIGINT" property="dailyCharge" />
    <result column="daily_electricity" jdbcType="BIGINT" property="dailyElectricity" />
    <result column="mainboard_temperature" jdbcType="BIGINT" property="mainboardTemperature" />
    <result column="battery_temperature" jdbcType="BIGINT" property="batteryTemperature" />
    <result column="battery_voltage" jdbcType="BIGINT" property="batteryVoltage" />
    <result column="sort_sum" jdbcType="BIGINT" property="sortSum" />
    <result column="mainboard_id" jdbcType="VARCHAR" property="mainboardId" />
    <result column="ws_time" jdbcType="VARCHAR" property="wsTime" />
    <result column="capacity" jdbcType="BIGINT" property="capacity" />
    <result column="weight" jdbcType="BIGINT" property="weight" />
    <result column="temperatur" jdbcType="BIGINT" property="temperatur" />
    <result column="water_line" jdbcType="BIGINT" property="waterLine" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, device_id, gps_lng, gps_lat, signal_intensit, firmware_version, charing_voltage, 
    charing_current, daily_charge, daily_electricity, mainboard_temperature, battery_temperature, 
    battery_voltage, sort_sum, mainboard_id, ws_time, capacity, weight, temperatur, water_line, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_device_watcher
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_device_watcher
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="andy.model.DeviceWatcher">
    insert into tbl_device_watcher (id, device_id, gps_lng, 
      gps_lat, signal_intensit, firmware_version, 
      charing_voltage, charing_current, daily_charge, 
      daily_electricity, mainboard_temperature, battery_temperature, 
      battery_voltage, sort_sum, mainboard_id, 
      ws_time, capacity, weight, 
      temperatur, water_line, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{deviceId,jdbcType=VARCHAR}, #{gpsLng,jdbcType=VARCHAR}, 
      #{gpsLat,jdbcType=VARCHAR}, #{signalIntensit,jdbcType=BIGINT}, #{firmwareVersion,jdbcType=BIGINT}, 
      #{charingVoltage,jdbcType=BIGINT}, #{charingCurrent,jdbcType=BIGINT}, #{dailyCharge,jdbcType=BIGINT}, 
      #{dailyElectricity,jdbcType=BIGINT}, #{mainboardTemperature,jdbcType=BIGINT}, #{batteryTemperature,jdbcType=BIGINT}, 
      #{batteryVoltage,jdbcType=BIGINT}, #{sortSum,jdbcType=BIGINT}, #{mainboardId,jdbcType=VARCHAR}, 
      #{wsTime,jdbcType=VARCHAR}, #{capacity,jdbcType=BIGINT}, #{weight,jdbcType=BIGINT}, 
      #{temperatur,jdbcType=BIGINT}, #{waterLine,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="andy.model.DeviceWatcher">
    insert into tbl_device_watcher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="gpsLng != null">
        gps_lng,
      </if>
      <if test="gpsLat != null">
        gps_lat,
      </if>
      <if test="signalIntensit != null">
        signal_intensit,
      </if>
      <if test="firmwareVersion != null">
        firmware_version,
      </if>
      <if test="charingVoltage != null">
        charing_voltage,
      </if>
      <if test="charingCurrent != null">
        charing_current,
      </if>
      <if test="dailyCharge != null">
        daily_charge,
      </if>
      <if test="dailyElectricity != null">
        daily_electricity,
      </if>
      <if test="mainboardTemperature != null">
        mainboard_temperature,
      </if>
      <if test="batteryTemperature != null">
        battery_temperature,
      </if>
      <if test="batteryVoltage != null">
        battery_voltage,
      </if>
      <if test="sortSum != null">
        sort_sum,
      </if>
      <if test="mainboardId != null">
        mainboard_id,
      </if>
      <if test="wsTime != null">
        ws_time,
      </if>
      <if test="capacity != null">
        capacity,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="temperatur != null">
        temperatur,
      </if>
      <if test="waterLine != null">
        water_line,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="gpsLng != null">
        #{gpsLng,jdbcType=VARCHAR},
      </if>
      <if test="gpsLat != null">
        #{gpsLat,jdbcType=VARCHAR},
      </if>
      <if test="signalIntensit != null">
        #{signalIntensit,jdbcType=BIGINT},
      </if>
      <if test="firmwareVersion != null">
        #{firmwareVersion,jdbcType=BIGINT},
      </if>
      <if test="charingVoltage != null">
        #{charingVoltage,jdbcType=BIGINT},
      </if>
      <if test="charingCurrent != null">
        #{charingCurrent,jdbcType=BIGINT},
      </if>
      <if test="dailyCharge != null">
        #{dailyCharge,jdbcType=BIGINT},
      </if>
      <if test="dailyElectricity != null">
        #{dailyElectricity,jdbcType=BIGINT},
      </if>
      <if test="mainboardTemperature != null">
        #{mainboardTemperature,jdbcType=BIGINT},
      </if>
      <if test="batteryTemperature != null">
        #{batteryTemperature,jdbcType=BIGINT},
      </if>
      <if test="batteryVoltage != null">
        #{batteryVoltage,jdbcType=BIGINT},
      </if>
      <if test="sortSum != null">
        #{sortSum,jdbcType=BIGINT},
      </if>
      <if test="mainboardId != null">
        #{mainboardId,jdbcType=VARCHAR},
      </if>
      <if test="wsTime != null">
        #{wsTime,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null">
        #{capacity,jdbcType=BIGINT},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=BIGINT},
      </if>
      <if test="temperatur != null">
        #{temperatur,jdbcType=BIGINT},
      </if>
      <if test="waterLine != null">
        #{waterLine,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="andy.model.DeviceWatcher">
    update tbl_device_watcher
    <set>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="gpsLng != null">
        gps_lng = #{gpsLng,jdbcType=VARCHAR},
      </if>
      <if test="gpsLat != null">
        gps_lat = #{gpsLat,jdbcType=VARCHAR},
      </if>
      <if test="signalIntensit != null">
        signal_intensit = #{signalIntensit,jdbcType=BIGINT},
      </if>
      <if test="firmwareVersion != null">
        firmware_version = #{firmwareVersion,jdbcType=BIGINT},
      </if>
      <if test="charingVoltage != null">
        charing_voltage = #{charingVoltage,jdbcType=BIGINT},
      </if>
      <if test="charingCurrent != null">
        charing_current = #{charingCurrent,jdbcType=BIGINT},
      </if>
      <if test="dailyCharge != null">
        daily_charge = #{dailyCharge,jdbcType=BIGINT},
      </if>
      <if test="dailyElectricity != null">
        daily_electricity = #{dailyElectricity,jdbcType=BIGINT},
      </if>
      <if test="mainboardTemperature != null">
        mainboard_temperature = #{mainboardTemperature,jdbcType=BIGINT},
      </if>
      <if test="batteryTemperature != null">
        battery_temperature = #{batteryTemperature,jdbcType=BIGINT},
      </if>
      <if test="batteryVoltage != null">
        battery_voltage = #{batteryVoltage,jdbcType=BIGINT},
      </if>
      <if test="sortSum != null">
        sort_sum = #{sortSum,jdbcType=BIGINT},
      </if>
      <if test="mainboardId != null">
        mainboard_id = #{mainboardId,jdbcType=VARCHAR},
      </if>
      <if test="wsTime != null">
        ws_time = #{wsTime,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null">
        capacity = #{capacity,jdbcType=BIGINT},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=BIGINT},
      </if>
      <if test="temperatur != null">
        temperatur = #{temperatur,jdbcType=BIGINT},
      </if>
      <if test="waterLine != null">
        water_line = #{waterLine,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="andy.model.DeviceWatcher">
    update tbl_device_watcher
    set device_id = #{deviceId,jdbcType=VARCHAR},
      gps_lng = #{gpsLng,jdbcType=VARCHAR},
      gps_lat = #{gpsLat,jdbcType=VARCHAR},
      signal_intensit = #{signalIntensit,jdbcType=BIGINT},
      firmware_version = #{firmwareVersion,jdbcType=BIGINT},
      charing_voltage = #{charingVoltage,jdbcType=BIGINT},
      charing_current = #{charingCurrent,jdbcType=BIGINT},
      daily_charge = #{dailyCharge,jdbcType=BIGINT},
      daily_electricity = #{dailyElectricity,jdbcType=BIGINT},
      mainboard_temperature = #{mainboardTemperature,jdbcType=BIGINT},
      battery_temperature = #{batteryTemperature,jdbcType=BIGINT},
      battery_voltage = #{batteryVoltage,jdbcType=BIGINT},
      sort_sum = #{sortSum,jdbcType=BIGINT},
      mainboard_id = #{mainboardId,jdbcType=VARCHAR},
      ws_time = #{wsTime,jdbcType=VARCHAR},
      capacity = #{capacity,jdbcType=BIGINT},
      weight = #{weight,jdbcType=BIGINT},
      temperatur = #{temperatur,jdbcType=BIGINT},
      water_line = #{waterLine,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="andy.model.DeviceWatcher">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="gps_lng" jdbcType="VARCHAR" property="gpsLng" />
    <result column="gps_lat" jdbcType="VARCHAR" property="gpsLat" />
    <result column="signal_intensit" jdbcType="VARCHAR" property="signalIntensit" />
    <result column="firmware_version" jdbcType="VARCHAR" property="firmwareVersion" />
    <result column="charing_voltage" jdbcType="VARCHAR" property="charingVoltage" />
    <result column="charing_current" jdbcType="VARCHAR" property="charingCurrent" />
    <result column="daily_charge" jdbcType="VARCHAR" property="dailyCharge" />
    <result column="daily_electricity" jdbcType="VARCHAR" property="dailyElectricity" />
    <result column="mainboard_temperature" jdbcType="VARCHAR" property="mainboardTemperature" />
    <result column="battery_temperature" jdbcType="VARCHAR" property="batteryTemperature" />
    <result column="battery_voltage" jdbcType="VARCHAR" property="batteryVoltage" />
    <result column="sort_sum" jdbcType="BIGINT" property="sortSum" />
    <result column="mainboard_id" jdbcType="VARCHAR" property="mainboardId" />
    <result column="ws_time" jdbcType="VARCHAR" property="wsTime" />
    <result column="capacity" jdbcType="VARCHAR" property="capacity" />
    <result column="weight" jdbcType="VARCHAR" property="weight" />
    <result column="temperatur" jdbcType="VARCHAR" property="temperatur" />
    <result column="water_line" jdbcType="VARCHAR" property="waterLine" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, device_id, gps_lng, gps_lat, signal_intensit, firmware_version, charing_voltage, 
    charing_current, daily_charge, daily_electricity, mainboard_temperature, battery_temperature, 
    battery_voltage, sort_sum, mainboard_id, ws_time, capacity, weight, temperatur, water_line, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_device_watcher
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_device_watcher
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="andy.model.DeviceWatcher">
    insert into tbl_device_watcher (id, device_id, gps_lng, 
      gps_lat, signal_intensit, firmware_version, 
      charing_voltage, charing_current, daily_charge, 
      daily_electricity, mainboard_temperature, 
      battery_temperature, battery_voltage, sort_sum, 
      mainboard_id, ws_time, capacity, 
      weight, temperatur, water_line, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{deviceId,jdbcType=VARCHAR}, #{gpsLng,jdbcType=VARCHAR}, 
      #{gpsLat,jdbcType=VARCHAR}, #{signalIntensit,jdbcType=VARCHAR}, #{firmwareVersion,jdbcType=VARCHAR}, 
      #{charingVoltage,jdbcType=VARCHAR}, #{charingCurrent,jdbcType=VARCHAR}, #{dailyCharge,jdbcType=VARCHAR}, 
      #{dailyElectricity,jdbcType=VARCHAR}, #{mainboardTemperature,jdbcType=VARCHAR}, 
      #{batteryTemperature,jdbcType=VARCHAR}, #{batteryVoltage,jdbcType=VARCHAR}, #{sortSum,jdbcType=BIGINT}, 
      #{mainboardId,jdbcType=VARCHAR}, #{wsTime,jdbcType=VARCHAR}, #{capacity,jdbcType=VARCHAR}, 
      #{weight,jdbcType=VARCHAR}, #{temperatur,jdbcType=VARCHAR}, #{waterLine,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="andy.model.DeviceWatcher">
    insert into tbl_device_watcher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="gpsLng != null">
        gps_lng,
      </if>
      <if test="gpsLat != null">
        gps_lat,
      </if>
      <if test="signalIntensit != null">
        signal_intensit,
      </if>
      <if test="firmwareVersion != null">
        firmware_version,
      </if>
      <if test="charingVoltage != null">
        charing_voltage,
      </if>
      <if test="charingCurrent != null">
        charing_current,
      </if>
      <if test="dailyCharge != null">
        daily_charge,
      </if>
      <if test="dailyElectricity != null">
        daily_electricity,
      </if>
      <if test="mainboardTemperature != null">
        mainboard_temperature,
      </if>
      <if test="batteryTemperature != null">
        battery_temperature,
      </if>
      <if test="batteryVoltage != null">
        battery_voltage,
      </if>
      <if test="sortSum != null">
        sort_sum,
      </if>
      <if test="mainboardId != null">
        mainboard_id,
      </if>
      <if test="wsTime != null">
        ws_time,
      </if>
      <if test="capacity != null">
        capacity,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="temperatur != null">
        temperatur,
      </if>
      <if test="waterLine != null">
        water_line,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="gpsLng != null">
        #{gpsLng,jdbcType=VARCHAR},
      </if>
      <if test="gpsLat != null">
        #{gpsLat,jdbcType=VARCHAR},
      </if>
      <if test="signalIntensit != null">
        #{signalIntensit,jdbcType=VARCHAR},
      </if>
      <if test="firmwareVersion != null">
        #{firmwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="charingVoltage != null">
        #{charingVoltage,jdbcType=VARCHAR},
      </if>
      <if test="charingCurrent != null">
        #{charingCurrent,jdbcType=VARCHAR},
      </if>
      <if test="dailyCharge != null">
        #{dailyCharge,jdbcType=VARCHAR},
      </if>
      <if test="dailyElectricity != null">
        #{dailyElectricity,jdbcType=VARCHAR},
      </if>
      <if test="mainboardTemperature != null">
        #{mainboardTemperature,jdbcType=VARCHAR},
      </if>
      <if test="batteryTemperature != null">
        #{batteryTemperature,jdbcType=VARCHAR},
      </if>
      <if test="batteryVoltage != null">
        #{batteryVoltage,jdbcType=VARCHAR},
      </if>
      <if test="sortSum != null">
        #{sortSum,jdbcType=BIGINT},
      </if>
      <if test="mainboardId != null">
        #{mainboardId,jdbcType=VARCHAR},
      </if>
      <if test="wsTime != null">
        #{wsTime,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null">
        #{capacity,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="temperatur != null">
        #{temperatur,jdbcType=VARCHAR},
      </if>
      <if test="waterLine != null">
        #{waterLine,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="andy.model.DeviceWatcher">
    update tbl_device_watcher
    <set>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="gpsLng != null">
        gps_lng = #{gpsLng,jdbcType=VARCHAR},
      </if>
      <if test="gpsLat != null">
        gps_lat = #{gpsLat,jdbcType=VARCHAR},
      </if>
      <if test="signalIntensit != null">
        signal_intensit = #{signalIntensit,jdbcType=VARCHAR},
      </if>
      <if test="firmwareVersion != null">
        firmware_version = #{firmwareVersion,jdbcType=VARCHAR},
      </if>
      <if test="charingVoltage != null">
        charing_voltage = #{charingVoltage,jdbcType=VARCHAR},
      </if>
      <if test="charingCurrent != null">
        charing_current = #{charingCurrent,jdbcType=VARCHAR},
      </if>
      <if test="dailyCharge != null">
        daily_charge = #{dailyCharge,jdbcType=VARCHAR},
      </if>
      <if test="dailyElectricity != null">
        daily_electricity = #{dailyElectricity,jdbcType=VARCHAR},
      </if>
      <if test="mainboardTemperature != null">
        mainboard_temperature = #{mainboardTemperature,jdbcType=VARCHAR},
      </if>
      <if test="batteryTemperature != null">
        battery_temperature = #{batteryTemperature,jdbcType=VARCHAR},
      </if>
      <if test="batteryVoltage != null">
        battery_voltage = #{batteryVoltage,jdbcType=VARCHAR},
      </if>
      <if test="sortSum != null">
        sort_sum = #{sortSum,jdbcType=BIGINT},
      </if>
      <if test="mainboardId != null">
        mainboard_id = #{mainboardId,jdbcType=VARCHAR},
      </if>
      <if test="wsTime != null">
        ws_time = #{wsTime,jdbcType=VARCHAR},
      </if>
      <if test="capacity != null">
        capacity = #{capacity,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="temperatur != null">
        temperatur = #{temperatur,jdbcType=VARCHAR},
      </if>
      <if test="waterLine != null">
        water_line = #{waterLine,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="andy.model.DeviceWatcher">
    update tbl_device_watcher
    set device_id = #{deviceId,jdbcType=VARCHAR},
      gps_lng = #{gpsLng,jdbcType=VARCHAR},
      gps_lat = #{gpsLat,jdbcType=VARCHAR},
      signal_intensit = #{signalIntensit,jdbcType=VARCHAR},
      firmware_version = #{firmwareVersion,jdbcType=VARCHAR},
      charing_voltage = #{charingVoltage,jdbcType=VARCHAR},
      charing_current = #{charingCurrent,jdbcType=VARCHAR},
      daily_charge = #{dailyCharge,jdbcType=VARCHAR},
      daily_electricity = #{dailyElectricity,jdbcType=VARCHAR},
      mainboard_temperature = #{mainboardTemperature,jdbcType=VARCHAR},
      battery_temperature = #{batteryTemperature,jdbcType=VARCHAR},
      battery_voltage = #{batteryVoltage,jdbcType=VARCHAR},
      sort_sum = #{sortSum,jdbcType=BIGINT},
      mainboard_id = #{mainboardId,jdbcType=VARCHAR},
      ws_time = #{wsTime,jdbcType=VARCHAR},
      capacity = #{capacity,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=VARCHAR},
      temperatur = #{temperatur,jdbcType=VARCHAR},
      water_line = #{waterLine,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>