<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="andy.dao.DeviceBinWatcherMapper" >
  <resultMap id="BaseResultMap" type="andy.model.DeviceBinWatcher" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="f_id" property="fId" jdbcType="BIGINT" />
    <result column="device_id" property="deviceId" jdbcType="VARCHAR" />
    <result column="sort_no" property="sortNo" jdbcType="VARCHAR" />
    <result column="volumn" property="volumn" jdbcType="VARCHAR" />
    <result column="sszl" property="sszl" jdbcType="VARCHAR" />
    <result column="wd" property="wd" jdbcType="VARCHAR" />
    <result column="work_status" property="workStatus" jdbcType="VARCHAR" />
    <result column="error_code" property="errorCode" jdbcType="VARCHAR" />
    <result column="error_msg" property="errorMsg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, f_id, device_id, sort_no, volumn, sszl, wd, work_status, error_code, error_msg, 
    create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tbl_bin_watcher
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_bin_watcher
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="andy.model.DeviceBinWatcher" >
    insert into tbl_bin_watcher (id, f_id, device_id, 
      sort_no, volumn, sszl, 
      wd, work_status, error_code, 
      error_msg, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{fId,jdbcType=BIGINT}, #{deviceId,jdbcType=VARCHAR}, 
      #{sortNo,jdbcType=VARCHAR}, #{volumn,jdbcType=VARCHAR}, #{sszl,jdbcType=VARCHAR}, 
      #{wd,jdbcType=VARCHAR}, #{workStatus,jdbcType=VARCHAR}, #{errorCode,jdbcType=VARCHAR}, 
      #{errorMsg,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="andy.model.DeviceBinWatcher" >
    insert into tbl_bin_watcher
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fId != null" >
        f_id,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="sortNo != null" >
        sort_no,
      </if>
      <if test="volumn != null" >
        volumn,
      </if>
      <if test="sszl != null" >
        sszl,
      </if>
      <if test="wd != null" >
        wd,
      </if>
      <if test="workStatus != null" >
        work_status,
      </if>
      <if test="errorCode != null" >
        error_code,
      </if>
      <if test="errorMsg != null" >
        error_msg,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fId != null" >
        #{fId,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        #{sortNo,jdbcType=VARCHAR},
      </if>
      <if test="volumn != null" >
        #{volumn,jdbcType=VARCHAR},
      </if>
      <if test="sszl != null" >
        #{sszl,jdbcType=VARCHAR},
      </if>
      <if test="wd != null" >
        #{wd,jdbcType=VARCHAR},
      </if>
      <if test="workStatus != null" >
        #{workStatus,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null" >
        #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null" >
        #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="andy.model.DeviceBinWatcher" >
    update tbl_bin_watcher
    <set >
      <if test="fId != null" >
        f_id = #{fId,jdbcType=BIGINT},
      </if>
      <if test="deviceId != null" >
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        sort_no = #{sortNo,jdbcType=VARCHAR},
      </if>
      <if test="volumn != null" >
        volumn = #{volumn,jdbcType=VARCHAR},
      </if>
      <if test="sszl != null" >
        sszl = #{sszl,jdbcType=VARCHAR},
      </if>
      <if test="wd != null" >
        wd = #{wd,jdbcType=VARCHAR},
      </if>
      <if test="workStatus != null" >
        work_status = #{workStatus,jdbcType=VARCHAR},
      </if>
      <if test="errorCode != null" >
        error_code = #{errorCode,jdbcType=VARCHAR},
      </if>
      <if test="errorMsg != null" >
        error_msg = #{errorMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="andy.model.DeviceBinWatcher" >
    update tbl_bin_watcher
    set f_id = #{fId,jdbcType=BIGINT},
      device_id = #{deviceId,jdbcType=VARCHAR},
      sort_no = #{sortNo,jdbcType=VARCHAR},
      volumn = #{volumn,jdbcType=VARCHAR},
      sszl = #{sszl,jdbcType=VARCHAR},
      wd = #{wd,jdbcType=VARCHAR},
      work_status = #{workStatus,jdbcType=VARCHAR},
      error_code = #{errorCode,jdbcType=VARCHAR},
      error_msg = #{errorMsg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>